.drag-start {
  opacity: 1;
  background: #fffb00;
}

.drag-enter {
  outline: 2px dashed green;
}

.hidden-item {
  display: none;
}

.demo {
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  border: 1px black dashed;
  color: #172b4d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}